@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    padding: 0% 1%;
    
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 153px;



    /* company color */

    border: 2px solid #155EEF;
    border-radius: 8px;
    margin-bottom: 1%;
}

.nav_logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 8px;

    width: 100%;
}


.nav_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    gap: 97px;

    width: 60%
    
}

.nav_links a {
    font-family: ;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #041330;
    cursor: pointer;
    text-decoration: none;
}

.nav_links_button {
    width: 60%;
    align-items: flex-start;
    padding: 2% 1%;
    gap: 10px;

    border: 1px solid #155EEF;
    border-radius: 8px;  
    background-color: white; 
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.5px;

    color: #155EEF;
    transition: ease 0.3s;
}

.nav_links_button:hover {
    color: white;
    background-color: #155EEF;
}


.card_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    gap: 100px;

    /* width: 1312px;
    height: 614px; */

    background: #F9FBFF;
    /* company color */

    border: 2px solid #155EEF;
    border-radius: 8px;
}

.card_one_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 50%;

    /* width: 671px;
    height: 319px; */
}

.card_one_section strong {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    letter-spacing: 0.5px;

    /* Secondary Text */

    color: #2E3A53;
}

.card_one_section h1 {
    /* width: 671px;
    height: 67px; */
    width: 100%;
    padding: 1% 0;

    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    /* or 67px */


    color: #155EEF;

}
.card_one_section p {
    /* width: 595px;
    height: 216px; */
    width: 100%;
    padding: 1% 1%;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    text-align: justify;
    letter-spacing: 0.5px;

    color: #2E3A53;

}

.card_one_section_button {
    /* width: 132px;
    height: 24px; */
    width: 60%;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.5px;

    color: #FFFFFF;
    padding: 10px 16px;
    gap: 10px;

    width: 164px;
    height: 44px;

    /* Color */

    background: #155EEF;
    border-radius: 8px;
    border: none;
    transition: ease 0.3s;
}
.card_one_section_button:hover {
    background-color: #0f48b9;


}

.card_one_image {
    width: 60%;
    padding: 1% 0;
}



.card_two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5% 2%;
    gap: 100px;

    /* width: 1312px;
    height: 528px; */

    border: 2px solid #155EEF;
    border-radius: 8px;
    /*margin: 55px 0;*/
    margin: 5% 0;
}

.card_two_image {
    box-sizing: border-box;

    width: 100%;
    padding: 7% 0;
    

    /* company color */

    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #155EEF;

}

.card_two_image img {
    width: 100%;
    /* height: 384px; */
    padding: 5% 1%;
}

.card_two_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1% 0;
    gap: 24px;

    width: 100%;
    height: 288px;
    justify-content: center;
}

.card_two_section h2 {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    /* identical to box height, or 48px */


    /* Primary Text */

    color: #041330;

}

.card_two_section p {
    padding: 0.5% 0;
    width: 100%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    text-align: justify;
    letter-spacing: 0.5px;

    color: #2E3A53;
}

.card_three {
    box-sizing: border-box;

    /* position: absolute; */
    /* width: 1312px;
    height: 788px; */
    /* left: 64px;
    top: 1363px; */

    /* company color */

    border: 2px solid #155EEF;
    border-radius: 8px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    margin-bottom: 5%;
    padding: 10% 0;
}

.card_three_image {
    /* position: absolute; */
    /* width: 713.85px;
    height: 539px; */
    /* left: 566.15px;
    top: 196px; */
    width: 50%;

    background: url(frame.png);
}

.card_three_image img {
    /* height: 539px; */
    width: 100%;
}

.card_three_section {
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-start; */
    padding: 6% 2%;
    /* gap: 24px; */

    position: absolute;
    /* width: 693px;
    height: 722px; */
    left: 25px;
    top: 35px;
    width: 60%;

    background: #F9FBFF;
}

.card_three_section h3 {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    /* identical to box height, or 48px */


    /* Primary Text */

    color: #041330;
}

.card_three_section ul {
    /* width: 645px;
    height: 470px; */
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    margin: 3% 0 3% 7%;
    
    
    letter-spacing: 0.5px;
    
    /* Secondary Text */
    
    color: #2E3A53;
    
    * Inside auto layout */
}

.card_three_section p {
    /* width: 645px;
    height: 470px; */
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    
    letter-spacing: 0.5px;
    
    /* Secondary Text */
    
    color: #2E3A53;
    
    * Inside auto layout */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;

    /* width: 1312px;
    height: 88px; */

    /* company color */

    border: 2px solid #155EEF;
    border-radius: 8px;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 32px;

    /* width: 424px;
    height: 54.08px; */
    width: 60%;
}

.footer_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
    gap: 32px;

    /* width: 424px;
    height: 24px; */
    width: 100%;
}
.p_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1% 0;
    gap: 10px;

    /* width: 424px;
    height: 56px; */
    width: 60%;
}