@import url('https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    padding: 1% 3%;
    
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 32px;
    gap: 153px;

    width: 1312px;
    height: 69px;

    /* company color */

    border: 2px solid #155EEF;
    border-radius: 8px;
    margin-bottom: 1%;
}

.nav_logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 680px;
    height: 53px;
}


.nav_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 97px;

    width: 415px;
    height: 44px;
}

.nav_links a {
    font-family: ;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #041330;
    cursor: pointer;
    text-decoration: none;
}

.nav_links_button {
    align-items: flex-start;
    padding: 10px 16px;
    gap: 10px;

    border: 1px solid #155EEF;
    border-radius: 8px;  
    background-color: white; 
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.5px;

    color: #155EEF;
    transition: ease 0.3s;
}

.nav_links_button:hover {
    color: white;
    background-color: #155EEF;
}


.card_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px 32px;
    gap: 100px;

    width: 1312px;
    height: 614px;

    background: #F9FBFF;
    /* company color */

    border: 2px solid #155EEF;
    border-radius: 8px;
}

.card_one_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 671px;
    height: 319px;
}

.card_one_section strong {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    letter-spacing: 0.5px;

    /* Secondary Text */

    color: #2E3A53;
}

.card_one_section h1 {
    width: 671px;
    height: 67px;

    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    /* or 67px */


    color: #155EEF;

}
.card_one_section p {
    width: 595px;
    height: 216px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    text-align: justify;
    letter-spacing: 0.5px;

    color: #2E3A53;
}

.card_one_section_button {
    width: 132px;
    height: 24px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.5px;

    color: #FFFFFF;
    padding: 10px 16px;
    gap: 10px;

    width: 164px;
    height: 44px;

    /* Color */

    background: #155EEF;
    border-radius: 8px;
    border: none;
    transition: ease 0.3s;
}
.card_one_section_button:hover {
    background-color: #0f48b9;


}

.card_one_image {
    width: 514px;
    height: 486px;
}



.card_two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 64px 32px;
    gap: 100px;

    width: 1312px;
    height: 528px;

    border: 2px solid #155EEF;
    border-radius: 8px;
    /*margin: 55px 0;*/
    margin: 3% 0;
}

.card_two_image {
    box-sizing: border-box;

    width: 544px;
    height: 400px;

    /* company color */

    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #155EEF;

}

.card_two_image img {
    width: 535px;
    height: 384px;
}

.card_two_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 604px;
    height: 288px;
    justify-content: center;
}

.card_two_section h2 {
    font-family: 'Halant';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    /* identical to box height, or 48px */


    /* Primary Text */

    color: #041330;

}

.card_two_section p {
    width: 595px;
    height: 216px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */

    text-align: justify;
    letter-spacing: 0.5px;

    color: #2E3A53;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;

    width: 1312px;
    height: 88px;

    /* company color */

    border: 2px solid #155EEF;
    border-radius: 8px;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 424px;
    height: 54.08px;
}

.footer_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 424px;
    height: 24px;
}
.p_footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 424px;
    height: 56px;
}